/* Some Grids by Mika Spell v 1.0.0 */
.wrapper {
  width: 960px;
  margin: 0 auto;
}

[class*=sgrid] {
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}

.box {
  width: 100%;
}
.box.inline {
  padding-left: 1.04167%;
}
.box.inline [class*=sgrid] {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-left: 0.625%;
  vertical-align: top;
}
.box.float:before, .box.float:after {
  display: table;
  content: "";
  line-height: 0;
}
.box.float:after {
  clear: both;
}
.box.float [class*=sgrid] {
  float: left;
}
.box.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* Grid system */
.sgrid-1 {
  width: 6.25%;
}

.sgrid-2 {
  width: 14.58333%;
}

.sgrid-3 {
  width: 22.91667%;
}

.sgrid-4 {
  width: 31.25%;
}

.sgrid-5 {
  width: 39.58333%;
}

.sgrid-6 {
  width: 47.91667%;
}

.sgrid-7 {
  width: 56.25%;
}

.sgrid-8 {
  width: 64.58333%;
}

.sgrid-9 {
  width: 72.91667%;
}

.sgrid-10 {
  width: 81.25%;
}

.sgrid-11 {
  width: 89.58333%;
}

.sgrid-12 {
  width: 97.91667%;
}

/* Left margin */
.pre-1 {
  margin-left: 9.375% !important;
}

.pre-2 {
  margin-left: 17.70833% !important;
}

.pre-3 {
  margin-left: 26.04167% !important;
}

.pre-4 {
  margin-left: 34.375% !important;
}

.pre-5 {
  margin-left: 42.70833% !important;
}

.pre-6 {
  margin-left: 51.04167% !important;
}

.pre-7 {
  margin-left: 59.375% !important;
}

.pre-8 {
  margin-left: 67.70833% !important;
}

.pre-9 {
  margin-left: 76.04167% !important;
}

.pre-10 {
  margin-left: 84.375% !important;
}

.pre-11 {
  margin-left: 92.70833% !important;
}

/* Right margin */
.post-1 {
  margin-right: 9.375% !important;
}

.post-2 {
  margin-right: 17.70833% !important;
}

.post-3 {
  margin-right: 26.04167% !important;
}

.post-4 {
  margin-right: 34.375% !important;
}

.post-5 {
  margin-right: 42.70833% !important;
}

.post-6 {
  margin-right: 51.04167% !important;
}

.post-7 {
  margin-right: 59.375% !important;
}

.post-8 {
  margin-right: 67.70833% !important;
}

.post-9 {
  margin-right: 76.04167% !important;
}

.post-10 {
  margin-right: 84.375% !important;
}

.post-11 {
  margin-right: 92.70833% !important;
}
