/* Some Grids by Mika Spell v 1.1.0 */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.box .sgrid-1, .box .sgrid-2, .box .sgrid-3, .box .sgrid-4, .box .sgrid-5, .box .sgrid-6, .box .sgrid-7, .box .sgrid-8, .box .sgrid-9, .box .sgrid-10, .box .sgrid-11, .box .sgrid-12 {
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.box.inline .sgrid-1, .box.inline .sgrid-2, .box.inline .sgrid-3, .box.inline .sgrid-4, .box.inline .sgrid-5, .box.inline .sgrid-6, .box.inline .sgrid-7, .box.inline .sgrid-8, .box.inline .sgrid-9, .box.inline .sgrid-10, .box.inline .sgrid-11, .box.inline .sgrid-12 {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.box.float .sgrid-1, .box.float .sgrid-2, .box.float .sgrid-3, .box.float .sgrid-4, .box.float .sgrid-5, .box.float .sgrid-6, .box.float .sgrid-7, .box.float .sgrid-8, .box.float .sgrid-9, .box.float .sgrid-10, .box.float .sgrid-11, .box.float .sgrid-12 {
  float: left;
}

.box.flex .sgrid-1, .box.flex .sgrid-2, .box.flex .sgrid-3, .box.flex .sgrid-4, .box.flex .sgrid-5, .box.flex .sgrid-6, .box.flex .sgrid-7, .box.flex .sgrid-8, .box.flex .sgrid-9, .box.flex .sgrid-10, .box.flex .sgrid-11, .box.flex .sgrid-12 {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  margin-left: -10px;
  margin-right: -10px;
}
.box.float {
  *zoom: 1;
}
.box.float:before, .box.float:after {
  display: table;
  content: "";
  line-height: 0;
}
.box.float:after {
  clear: both;
}
.box.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* Grid system */
.sgrid-1 {
  width: 8.3333333333%;
}

.sgrid-2 {
  width: 16.6666666667%;
}

.sgrid-3 {
  width: 25%;
}

.sgrid-4 {
  width: 33.3333333333%;
}

.sgrid-5 {
  width: 41.6666666667%;
}

.sgrid-6 {
  width: 50%;
}

.sgrid-7 {
  width: 58.3333333333%;
}

.sgrid-8 {
  width: 66.6666666667%;
}

.sgrid-9 {
  width: 75%;
}

.sgrid-10 {
  width: 83.3333333333%;
}

.sgrid-11 {
  width: 91.6666666667%;
}

.sgrid-12 {
  width: 100%;
}

.pre-1 {
  margin-left: 8.3333333333%;
}

.post-1 {
  margin-right: 8.3333333333%;
}

.pre-2 {
  margin-left: 16.6666666667%;
}

.post-2 {
  margin-right: 16.6666666667%;
}

.pre-3 {
  margin-left: 25%;
}

.post-3 {
  margin-right: 25%;
}

.pre-4 {
  margin-left: 33.3333333333%;
}

.post-4 {
  margin-right: 33.3333333333%;
}

.pre-5 {
  margin-left: 41.6666666667%;
}

.post-5 {
  margin-right: 41.6666666667%;
}

.pre-6 {
  margin-left: 50%;
}

.post-6 {
  margin-right: 50%;
}

.pre-7 {
  margin-left: 58.3333333333%;
}

.post-7 {
  margin-right: 58.3333333333%;
}

.pre-8 {
  margin-left: 66.6666666667%;
}

.post-8 {
  margin-right: 66.6666666667%;
}

.pre-9 {
  margin-left: 75%;
}

.post-9 {
  margin-right: 75%;
}

.pre-10 {
  margin-left: 83.3333333333%;
}

.post-10 {
  margin-right: 83.3333333333%;
}

.pre-11 {
  margin-left: 91.6666666667%;
}

.post-11 {
  margin-right: 91.6666666667%;
}
