/* Some Grids by Mika Spell v 1.0.0 */
.box .sgrid-1, .box .sgrid-2, .box .sgrid-3, .box .sgrid-4, .box .sgrid-5, .box .sgrid-6, .box .sgrid-7, .box .sgrid-8, .box .sgrid-9, .box .sgrid-10, .box .sgrid-11, .box .sgrid-12 {
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.box.float .sgrid-1, .box.float .sgrid-2, .box.float .sgrid-3, .box.float .sgrid-4, .box.float .sgrid-5, .box.float .sgrid-6, .box.float .sgrid-7, .box.float .sgrid-8, .box.float .sgrid-9, .box.float .sgrid-10, .box.float .sgrid-11, .box.float .sgrid-12 {
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  margin-left: -10px;
  margin-right: -10px;
}
.box.inline {
  padding-left: 2.1276595745%;
}
.box.inline [class*=sgrid] {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-left: -4px;
  margin-right: 24px;
  vertical-align: top;
}
.box.float {
  *zoom: 1;
}
.box.float:before, .box.float:after {
  display: table;
  content: "";
  line-height: 0;
}
.box.float:after {
  clear: both;
}
.box.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* Grid system */
.sgrid-1 {
  width: 8.3333333333%;
}

.sgrid-2 {
  width: 16.6666666667%;
}

.sgrid-3 {
  width: 25%;
}

.sgrid-4 {
  width: 33.3333333333%;
}

.sgrid-5 {
  width: 41.6666666667%;
}

.sgrid-6 {
  width: 50%;
}

.sgrid-7 {
  width: 58.3333333333%;
}

.sgrid-8 {
  width: 66.6666666667%;
}

.sgrid-9 {
  width: 75%;
}

.sgrid-10 {
  width: 83.3333333333%;
}

.sgrid-11 {
  width: 91.6666666667%;
}

.sgrid-12 {
  width: 100%;
}

/* Left margin */
.pre-1 {
  margin-left: 9.3971631206% !important;
}

.pre-2 {
  margin-left: 17.7304964539% !important;
}

.pre-3 {
  margin-left: 26.0638297872% !important;
}

.pre-4 {
  margin-left: 34.3971631206% !important;
}

.pre-5 {
  margin-left: 42.7304964539% !important;
}

.pre-6 {
  margin-left: 51.0638297872% !important;
}

.pre-7 {
  margin-left: 59.3971631206% !important;
}

.pre-8 {
  margin-left: 67.7304964539% !important;
}

.pre-9 {
  margin-left: 76.0638297872% !important;
}

.pre-10 {
  margin-left: 84.3971631206% !important;
}

.pre-11 {
  margin-left: 92.7304964539% !important;
}

/* Right margin */
.post-1 {
  margin-right: 9.3971631206% !important;
}

.post-2 {
  margin-right: 17.7304964539% !important;
}

.post-3 {
  margin-right: 26.0638297872% !important;
}

.post-4 {
  margin-right: 34.3971631206% !important;
}

.post-5 {
  margin-right: 42.7304964539% !important;
}

.post-6 {
  margin-right: 51.0638297872% !important;
}

.post-7 {
  margin-right: 59.3971631206% !important;
}

.post-8 {
  margin-right: 67.7304964539% !important;
}

.post-9 {
  margin-right: 76.0638297872% !important;
}

.post-10 {
  margin-right: 84.3971631206% !important;
}

.post-11 {
  margin-right: 92.7304964539% !important;
}
