$width: 960px;
$grids: 12;
$mgn: 10px;

body {
	width: $width;
	margin: 0 auto;
}

.box, .nopad {

	&:before, &:after {

        display: table;
        content: "";
        line-height: 0;
	}

	&:after {
		
		clear: both;
	}

	[class*=sgrid] {

		float: left;
		margin-left: $mgn;
		margin-right: $mgn;
	}
}

.nopad {

}

@for $i from 1 through $grids {

    .sgrid-#{$i} {

       width: (($width / $grids) - ($mgn * 2)) * $i + ((2 * $i - 2) * $mgn);
    }
}