/* Some Grids by Mika Spell v 1.1.3 */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  margin-left: -10px;
  margin-right: -10px;
}

.sgrid-1, .sgrid-2, .sgrid-3, .sgrid-4, .sgrid-5, .sgrid-6, .sgrid-7, .sgrid-8, .sgrid-9, .sgrid-10, .sgrid-11, .sgrid-12 {
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.inline > .sgrid-1, .inline > .sgrid-2, .inline > .sgrid-3, .inline > .sgrid-4, .inline > .sgrid-5, .inline > .sgrid-6, .inline > .sgrid-7, .inline > .sgrid-8, .inline > .sgrid-9, .inline > .sgrid-10, .inline > .sgrid-11, .inline > .sgrid-12 {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-right: -4.4px;
  vertical-align: top;
}

.float > .sgrid-1, .float > .sgrid-2, .float > .sgrid-3, .float > .sgrid-4, .float > .sgrid-5, .float > .sgrid-6, .float > .sgrid-7, .float > .sgrid-8, .float > .sgrid-9, .float > .sgrid-10, .float > .sgrid-11, .float > .sgrid-12 {
  float: left;
}

.flex > .sgrid-1, .flex > .sgrid-2, .flex > .sgrid-3, .flex > .sgrid-4, .flex > .sgrid-5, .flex > .sgrid-6, .flex > .sgrid-7, .flex > .sgrid-8, .flex > .sgrid-9, .flex > .sgrid-10, .flex > .sgrid-11, .flex > .sgrid-12 {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.inline {
  text-align: left;
}

.float {
  *zoom: 1;
}
.float:before, .float:after {
  display: table;
  content: "";
  line-height: 0;
}
.float:after {
  clear: both;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* Grid system */
.sgrid-1 {
  width: 8.3333333333%;
}

.sgrid-2 {
  width: 16.6666666667%;
}

.sgrid-3 {
  width: 25%;
}

.sgrid-4 {
  width: 33.3333333333%;
}

.sgrid-5 {
  width: 41.6666666667%;
}

.sgrid-6 {
  width: 50%;
}

.sgrid-7 {
  width: 58.3333333333%;
}

.sgrid-8 {
  width: 66.6666666667%;
}

.sgrid-9 {
  width: 75%;
}

.sgrid-10 {
  width: 83.3333333333%;
}

.sgrid-11 {
  width: 91.6666666667%;
}

.sgrid-12 {
  width: 100%;
}

.pre-1 {
  margin-left: 8.3333333333%;
}

.post-1 {
  margin-right: 8.3333333333%;
}

.pre-2 {
  margin-left: 16.6666666667%;
}

.post-2 {
  margin-right: 16.6666666667%;
}

.pre-3 {
  margin-left: 25%;
}

.post-3 {
  margin-right: 25%;
}

.pre-4 {
  margin-left: 33.3333333333%;
}

.post-4 {
  margin-right: 33.3333333333%;
}

.pre-5 {
  margin-left: 41.6666666667%;
}

.post-5 {
  margin-right: 41.6666666667%;
}

.pre-6 {
  margin-left: 50%;
}

.post-6 {
  margin-right: 50%;
}

.pre-7 {
  margin-left: 58.3333333333%;
}

.post-7 {
  margin-right: 58.3333333333%;
}

.pre-8 {
  margin-left: 66.6666666667%;
}

.post-8 {
  margin-right: 66.6666666667%;
}

.pre-9 {
  margin-left: 75%;
}

.post-9 {
  margin-right: 75%;
}

.pre-10 {
  margin-left: 83.3333333333%;
}

.post-10 {
  margin-right: 83.3333333333%;
}

.pre-11 {
  margin-left: 91.6666666667%;
}

.post-11 {
  margin-right: 91.6666666667%;
}
