/* Just example =) */

.wrapper {

	margin-top: 70px;
}

.box {

	padding-top: 16px;

	&:nth-child(odd) {

		background: #eaeaea;
	}

	&:nth-child(even) {

		background: #ccc;
	}
}

[class*=sgrid] > div {

  background: #ddd;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 16px;
  // outline: 1px solid #989898; 
}

h1 {

  font-size: 48px;
  text-align: center;
  margin-bottom: 0; 
}

h2 {

  font-size: 24px;
  text-align: center; 
}

#post_h1 {

  text-align: center; 
}